<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20307379533-7ca66cj672v5fmdo33ta62hjpkdu83ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20307379533-7ca66cj672v5fmdo33ta62hjpkdu83ov</string>
	<key>API_KEY</key>
	<string>AIzaSyCIZYYd0c6SxoIzZzUTVBQzvwQUlKMnclU</string>
	<key>GCM_SENDER_ID</key>
	<string>20307379533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirelon.simpsons.quotes</string>
	<key>PROJECT_ID</key>
	<string>simpsons-quotes-f6a35</string>
	<key>STORAGE_BUCKET</key>
	<string>simpsons-quotes-f6a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20307379533:ios:02d0e272838a6d5a</string>
	<key>DATABASE_URL</key>
	<string>https://simpsons-quotes-f6a35.firebaseio.com</string>
</dict>
</plist>